@import '../../variables';

.product {
  cursor: pointer;
  position: relative;
  font-size: 1.5rem;
  flex: 100%;

  @include respond(md/lg) {
    flex: calc(50% - var(--gap));
  }

  &:hover {
    & h3 {
      color: $orange;
    }

    & img {
      filter: contrast(1);
      filter: blur(0);
    }
  }

  & .badge {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: $z-100;
    background-color: $orange;
    text-transform: uppercase;
    display: block;
    color: $black;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 5rem;
  }

  & img {
    width: 100%;
    max-height: 100vh;

    object-fit: cover;
    margin-bottom: 1.75rem;
    flex: 1;
    filter: contrast(0.8);

    @include respond(md) {
      height: 650px;
    }

    @include respond(xxl) {
      height: 900px;
    }

    &.lazy {
      animation: pulsate 2s infinite;
    }
  }

  & h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
  }

  // PRODCUCT PRICE
  & .price {
    color: $orange;

    &--now {
      margin-right: 1rem;
    }

    &--before {
      text-decoration: line-through;
    }
  }
}
