@import '../../base';

.productView {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 2rem;

  @include respond(md/lg) {
    flex-direction: row;
    justify-content: center;
  }
}
