@import '../../base';

.nav {
  font-size: 1.6rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: $bg-color;

  & * {
    color: $black;
  }

  @include respond(lg) {
    padding: 0 3.5rem;
  }
}

.menuBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  margin-right: auto;

  @include respond(lg) {
    display: none;
  }
}

.btnWrap {
  flex: 1;
  display: flex;

  &:first-child {
    @include respond(lg) {
      display: none;
    }
  }
}
