@import './variables';

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

// RESETS
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// GLOBAL FOCUS STYLE
*:focus-visible {
  outline: 2.5px solid $orange;
}

// FONT SIZE
html {
  font-size: 62.5%;

  @include respond(xl) {
    font-size: 68.75%;
  }

  @include respond(xxl) {
    font-size: 75%;
  }
}

// BODY BG COLOR AND MAIN FONT
body {
  background-color: $bg-color;
  font-family: Roboto;
}

// HEADINGS
h1,
h2 {
  font-family: 'Playfair Display';
  letter-spacing: -0.075rem;
}

// FORM FONT EXCEPT CHECKOUT
form:not(.checkout__content) {
  font-family: 'Playfair Display';
}

// LINKS
a {
  &:link,
  &:visited {
    text-decoration: none;
    color: $black;
  }

  &:hover,
  &:active {
    color: $orange;
  }
}
