@import './base';

// RESETS
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2.5px solid $orange;
}

// FONT SIZE
html {
  font-size: 62.5%;

  @include respond(lg) {
    font-size: 68.75%;
  }

  @include respond(xxl) {
    font-size: 75%;
  }
}

// BODY BG COLOR AND NO SCROLL CLASS
body {
  background-color: $bg-color;
}

// MAIN FONT
body {
  font-family: Roboto;
}

// HEADINGS
h1,
h2 {
  font-family: 'Playfair Display';
  letter-spacing: -0.075rem;
}

// FORM FONT EXCEPT CHECKOUT
form:not(.checkout__content) {
  font-family: 'Playfair Display';
}

// SECTIONS WITH MAX WIDTH
// header,
// section,
// footer {
//   max-width: 2000px;
//   margin: 0 auto;
// }

// UNLIMITED WIDTH SECTIONS
// .fs {
//   max-width: unset;
// }
